# Python virtual environment
venv/
.venv/
env/
ENV/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

backend/models/**/*.onnx
backend/models/**/*.pt

backend/models/piper/
backend/models/whisper/base.pt

backend/interview_recordings
backend/interview_audio

venv/
node_modules/
.git/
.vite/
__pycache__/
backend/models/
backend/interview_audio/
*.pt
*.onnx
